@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  color: black;
  background-image: url("./new.jpg");
  background-size: cover;
  background-position: center center;
  background-image: url("./new.jpg");
  background-size: 100% 100%; /* Cover the entire container */
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-weight: 400;
  font-size: 4rem;
  margin-top: -2rem;
}

.countdown-container {
  display: flex;
  text-align: center;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
span {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
